/* Home */
#home {
    background: rgb(0, 184, 148);
    background: linear-gradient(90deg, rgb(0, 184, 148) 50%, rgba(85, 239, 196, 1) 100%);
    min-height: 500px;
}

/* Cards */
.card {
    transition: all 0.5s ease;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.footer {
    background: rgb(0, 184, 148);
    background: linear-gradient(90deg, rgb(0, 184, 148) 40%, rgba(85, 239, 196, 1) 100%);
}

/* Formm */
.form {
    background: rgb(0, 184, 148);
    background: linear-gradient(90deg, rgb(0, 184, 148) 30%, rgba(85, 239, 196, 1) 100%);
}